// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.table-background{
  background-color: #f8f9fa;
}

.heading-section{
  background-color: #426086;
}

.heading-section{
  color: #ecf3ed;
}

.link-color{
  color: #0a67cc;
  border-color: #0a67cc;
}

.text-color{
  color: #1f3c61;
}
